In [2]:
from pathlib import Path
import pandas as pd

In [11]:
df = pd.read_csv('/media/ts/SSD_ubuntu/datasets/MSRVTT/MSR_RET_test.csv', sep='\t')
df

,key,description,title,vid_key
0,ret0,a person is connecting something to system,video9770,msr9770
1,ret1,a little girl does gymnastics,video9771,msr9771
2,ret2,a woman creating a fondant baby and flower,video7020,msr7020
3,ret3,a boy plays grand theft auto 5,video9773,msr9773
4,ret4,a man is giving a review on a vehicle,video7026,msr7026
...,...,...,...,...
995,ret995,the young performer impressed his audience,video9879,msr9879
996,ret996,some peole are sitting in hall,video9878,msr9878
997,ret997,man shows how to prepare pizza,video9873,msr9873
998,ret998,someone is playing a first person shooter game...,video9872,msr9872
999,ret999,bearded guy in grey tshirt talking to the camera,video9871,msr9871

In [13]:
df['filename'] = df['title'].apply(lambda x: x + '.mp4')
df['captions'] = df['description'].apply(lambda x: [x])
df = df[['filename', 'captions']]
df

          filename                                           captions
0    video9770.mp4       [a person is connecting something to system]
1    video9771.mp4                    [a little girl does gymnastics]
2    video7020.mp4       [a woman creating a fondant baby and flower]
3    video9773.mp4                   [a boy plays grand theft auto 5]
4    video7026.mp4            [a man is giving a review on a vehicle]
..             ...                                                ...
995  video9879.mp4       [the young performer impressed his audience]
996  video9878.mp4                   [some peole are sitting in hall]
997  video9873.mp4                   [man shows how to prepare pizza]
998  video9872.mp4  [someone is playing a first person shooter gam...
999  video9871.mp4  [bearded guy in grey tshirt talking to the cam...

[1000 rows x 2 columns]

In [16]:
root = Path('/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test')
c = 0
for i, (filename, captions) in df.iterrows():
    if not (root / filename).exists():
        print(root / filename)
        c+=1
c

/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video8915.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video8919.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video9517.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video9208.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video9349.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video9340.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video9838.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video7831.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video9622.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video8903.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video7695.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video7164.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video9697.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video9524.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video9522.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video9352.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video9350.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video8337.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video8245.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video8461.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video7227.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video7919.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video8662.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video7179.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video7175.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video8800.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video8805.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video8806.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video9323.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video9321.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video9326.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video7218.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video9258.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video9336.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video7976.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video8687.mp4
/media/ts/SSD_ubuntu/datasets/MSRVTT/data/test/video8671.mp4

37